<div class="main-container">

  <div class="gp-header">
    <img src="/img/logo.png" class="gp-logo" alt="Logo">
    <div class="pg-welcome">
      Welcome to your command center. {{userData.firstName}} {{userData.lastName}}<br>
      We're standing by for orders.
    </div>
    <div class="btn-gp-signout r-corner">Sign Out</div>
  </div>
  {{!-- head/body divider line --}}
  <div class="h-line"></div>

  <div class="dashboard">
    <div class="rockets">
      <div class="rocket-title">
        Rockets
      </div>
      <div class="rocket-options">
        <span id="rocketName" class="d-none">{{userData.rocketName}}</span>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s1_rocket.png" alt="rocket 1" id="rocket_1" class="rocket">
          </div>
          <div class="r-data">
            <div>Name: Moon Dart</div>
            <div>Storage: 4</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s2_rocket.png" alt="rocket 2" id="rocket_2" class="current-option rocket">
          </div>
          <div class="r-data">
            <div>Name: Galactice Spike</div>
            <div>Price: $8000</div> 
            <div>Storage: 8</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s3_rocket.png" alt="rocket 3" id="rocket_3" class="rocket">
          </div>
          <div class="r-data">
            <div>Name: Light Bender</div>
            <div>Price: $20,000</div>
            <div>Storage: 12</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s4_rocket.png" alt="rocket 4" id="rocket_4" class="rocket">
          </div>
          <div class="r-data">
            <div>Name: Star Hammer</div>
            <div>Price: $150,000</div>
            <div>Storage: 16</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
      </div>
    </div>

    <div class="asteroid-div">
      <div class="rocket-title">
        Asteroids
      </div>

      <div class="asteroids">
        <img src="/img/asteroid/asteroid_1.png" alt="asteroid 1" class="current-option">
        <img src="/img/asteroid/asteroid_2.png" alt="asteroid 2">
        <img src="/img/asteroid/asteroid_3.png" alt="asteroid 3">
        <img src="/img/asteroid/asteroid_4.png" alt="asteroid 4">
      </div>

      <div class="inner">

        <div class="inner-dashboard">
          <div class="command-center">
            <div class="cmd-title">Command Center</div>
            <div class="f-box flex">
              <div class="funding">
                <div class="current-funds r-corner">Current Funds: ${{userData.funds}}</div>
                <div class="ores">Current Ore List: <br>
                  <div class="ore-list">
                    <ul>
                    <li class="ore">Uranium: <span id="uranium-count">{{oreData.uranium}}</span></li>
                    <li class="ore">Neodymium: <span id="neodymium-count">{{oreData.neodymium}}</span></li>
                    <li class="ore">Praseodymium: <span id="praseodymium-count">{{oreData.praseodymium}}</span></li>
                    <li class="ore">Galium: <span id="galium-count">{{oreData.galium}}</span></li>
                    <li class="ore">Idium: <span id="idium-count">{{oreData.idium}}</span></li>
                    <li class="ore">Terbium: <span id="terbium-count">{{oreData.terbium}}</span></li>
                    <li class="ore">Silver: <span id="silver-count">{{oreData.silver}}</span></li>
                    <li class="ore">Hafnium: <span id="hafnium-count">{{oreData.hafnium}}</span></li>
                  </ul>
                  <ul>
                    <li class="ore">Rhenium: <span id="rhenium-count">{{oreData.rhenium}}</span></li>
                    <li class="ore">Germanium: <span id="germanium-count">{{oreData.germanium}}</span></li>
                    <li class="ore">Gold: <span id="gold-count">{{oreData.gold}}</span></li>
                    <li class="ore">Platinum: <span id="platinum-count">{{oreData.platinum}}</span></li>
                    <li class="ore">Palladium: <span id="palladium-count">{{oreData.palladium}}</span></li>
                    <li class="ore">Rhodium: <span id="rhodium-count">{{oreData.rhodium}}</span></li>
                    <li class="ore">Diamond: <span id="diamond-count">{{oreData.diamond}}</span></li>
                    <li class="ore">Blue Diamond: <span id="blueDiamond-count">{{oreData.blueDiamond}}</span></li>
                  </ul>
                  </div>
                </div>
              </div>
              <div class="actions r-corner">
                <div class="mine-a r-corner">Mine Asteroid</div>
                <div class="sell-ores r-corner">Sell Ores</div>
                <ul class="dots">
                  <li class="dot1"></li>
                  <li class="dot2"></li>
                  <li class="dot3"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {{!-- to add later if we have time --}}
        {{!-- <div class="stats">
          <div class="stats-center">
            <div class="stats-title">Stats</div>
            <div class="stats-details">
              {{stats-output}}
              <span id="rocketName">{{rocketName}}</span>
            </div>
          </div>
        </div> --}}
      </div>

    </div>

  </div>
</div>
<script src="/js/dashboard.js"></script>