<div class="main-container">

  <div class="gp-header">
    <img src="/img/logo.png" class="gp-logo" alt="Logo">
    <div class="pg-welcome">
      Welcome to your command center. {{userData.firstName}} {{userData.lastName}}<br>
      We're standing by for orders.
    </div>
    <div class="btn-gp-signout r-corner pointer" href="/logout">Sign Out</div>
  </div>
  {{!-- head/body divider line --}}
  <div class="h-line"></div>

  <div class="dashboard">
    <div class="rockets">
      <div class="rocket-title">
        Rockets
      </div>
      <div class="rocket-options">
        <span id="rocketName" class="d-none">{{userData.rocketName}}</span>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s1_rocket.png" alt="rocket 1" id="rocket_1" class="rocket">
          </div>
          <div class="r-data">
            <div id="r1-name"></div>
            <div id="r1-price"></div>
            <div id="r1-storage"></div>
            <div class="buy-btn pointer">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s2_rocket.png" alt="rocket 2" id="rocket_2" class="rocket">
          </div>
          <div class="r-data">
            <div id="r2-name"></div>
            <div id="r2-price"></div>
            <div id="r2-storage"></div>
            <div class="buy-btn pointer">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s3_rocket.png" alt="rocket 3" id="rocket_3" class="rocket">
          </div>
          <div class="r-data">
            <div id="r3-name"></div>
            <div id="r3-price"></div>
            <div id="r3-storage"></div>
            <div class="buy-btn pointer">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s4_rocket.png" alt="rocket 4" id="rocket_4" class="rocket">
          </div>
          <div class="r-data">
            <div id="r4-name"></div>
            <div id="r4-price"></div>
            <div id="r4-storage"></div>
            <div class="buy-btn pointer">Buy</div>
          </div>
        </div>
      </div>
    </div>

    <div class="asteroid-div">
      <div class="rocket-title">
        Asteroids
      </div>

      <div class="asteroids">
        <img src="/img/asteroid/asteroid_1.png" alt="asteroid 1" id="asteroid_1" class="asteroid" value="1">
        <img src="/img/asteroid/asteroid_2.png" alt="asteroid 2" id="asteroid_2" class="asteroid" value="2">
        <img src="/img/asteroid/asteroid_3.png" alt="asteroid 3" id="asteroid_3" class="asteroid" value="3">
        <img src="/img/asteroid/asteroid_4.png" alt="asteroid 4" id="asteroid_4" class="asteroid" value="4">
      </div>

      <div class="inner">

        <div class="inner-dashboard">
          <div class="command-center">
            <div class="cmd-title">Command Center</div>
            <div class="f-box flex">
              <div class="funding">
                <div class="current-funds r-corner">Current Funds: ${{userData.funds}}</div>
                <div class="ores">Current Ore List: <br>
                  <div class="ore-list">
                    <ul>
                      <li class="ore">Uranium: <span id="uranium-count">{{oreData.uranium}}</span></li>
                      <li class="ore">Neodymium: <span id="neodymium-count">{{oreData.neodymium}}</span></li>
                      <li class="ore">Praseodymium: <span id="praseodymium-count">{{oreData.praseodymium}}</span></li>
                      <li class="ore">Galium: <span id="galium-count">{{oreData.galium}}</span></li>
                      <li class="ore">Idium: <span id="idium-count">{{oreData.idium}}</span></li>
                      <li class="ore">Terbium: <span id="terbium-count">{{oreData.terbium}}</span></li>
                      <li class="ore">Silver: <span id="silver-count">{{oreData.silver}}</span></li>
                      <li class="ore">Hafnium: <span id="hafnium-count">{{oreData.hafnium}}</span></li>
                    </ul>
                    <ul>
                      <li class="ore">Rhenium: <span id="rhenium-count">{{oreData.rhenium}}</span></li>
                      <li class="ore">Germanium: <span id="germanium-count">{{oreData.germanium}}</span></li>
                      <li class="ore">Gold: <span id="gold-count">{{oreData.gold}}</span></li>
                      <li class="ore">Platinum: <span id="platinum-count">{{oreData.platinum}}</span></li>
                      <li class="ore">Palladium: <span id="palladium-count">{{oreData.palladium}}</span></li>
                      <li class="ore">Rhodium: <span id="rhodium-count">{{oreData.rhodium}}</span></li>
                      <li class="ore">Diamond: <span id="diamond-count">{{oreData.diamond}}</span></li>
                      <li class="ore">Blue Diamond: <span id="blueDiamond-count">{{oreData.blueDiamond}}</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="actions r-corner">
                <div class="mine-a r-corner pointer" id="mineBtn">Mine Asteroid</div>
                <div class="sell-ores r-corner pointer">Sell Ores</div>
                <ul class="_ul">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="ore-modal" class="ore-modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h3>The ore mining trip returned the following minerals:</h3>
            <br>
            <div class="heading">
              <div class="h-data">Ore</div>
              <div class="h-data">Percent</div>
              <div class="h-data">Kilos</div>
              <div class="h-data">Price/Kilo</div>
              <div class="h-data">Total Value</div>
            </div>
            <div id="m-data-output">
              <div class="output"></div>
            </div>
          </div>
        </div>

        {{!-- to add later if we have time --}}
        {{!-- <div class="stats">
          <div class="stats-center">
            <div class="stats-title">Stats</div>
            <div class="stats-details">
              {{stats-output}}
              <span id="rocketName">{{rocketName}}</span>
            </div>
          </div>
        </div> --}}
      </div>

    </div>

  </div>
</div>
<script src="/js/dashboard.js"></script>
<script src="/js/oreProbs.js"></script>
<script>

  let curAsteroid, curRocket, rStorage;
  let oresMined;
  let oresMinedVals = [];

  // get current asteroid value
  var _asteroid = document.querySelectorAll(".asteroid");
  for (let i = 0; i < _asteroid.length; i++) {
    if (_asteroid[i].classList.contains("current-option")) {
      // get val of current asteroid
      let currentVal = parseInt(_asteroid[i].getAttribute('value'));
      curAsteroid = currentVal;
      curRocket = currentVal;
    }
  }

  // mine ores
  document.querySelector(".mine-a").addEventListener("click", function (event) {
    event.preventDefault();
    // gets updated rocket data
    rStorage = rockets[curRocket - 1].storage;
    // gets mining results
    oresMined = calcPercents(curAsteroid, rStorage);
    addOreValues();
  });

  function addOreValues() {
    // empty oresMined
    oresMinedVals = [];
    console.log(oresMined);
    for (let i = 0; i < oresMined.length; i++) {
      for (let j = 0; j < minerals.length; j++) {
        if (oresMined[i].ore === minerals[j].mineral_name && oresMined[i].percent != 0) {
          let addOreWithPrice = {
            ore: oresMined[i].ore,
            percent: oresMined[i].percent,
            kilos: oresMined[i].kilos,
            pricePerKilo: minerals[j].price,
            totalValue: oresMined[i].kilos * minerals[j].price
          }
          oresMinedVals.push(addOreWithPrice);
        }
      }
    }
    console.log(oresMinedVals);
    displayModalData();
  }

  function displayModalData() {
    document.getElementById("m-data-output").innerHTML = "";
    for (let i = 0; i < oresMinedVals.length; i++) {
    document.getElementById("m-data-output").innerHTML +=
      "<div class='data-output'>" +
      "<div class='data'>" + oresMinedVals[i].ore + "</div>" +
      "<div class='data'>" + oresMinedVals[i].percent + "</div>" +
      "<div class='data'>" + oresMinedVals[i].kilos + "</div>" +
      "<div class='data'>" + oresMinedVals[i].pricePerKilo + "</div>" +
      "<div class='data'>" + oresMinedVals[i].totalValue + "</div>" +
      "</div>";
    }
  }

  // sell ores
  document.querySelector(".sell-ores").addEventListener("click", function (e) {
    e.preventDefault();
    console.log("connected");
  });
</script>