<div class="main-container">

  <div class="gp-header">
    <img src="/img/logo.png" class="gp-logo" alt="Logo">
    <div class="pg-welcome">
      Welcome to your command center.<br>
      We're standing by for orders.
    </div>
    <div class="btn-gp-signout r-corner">Sign Out</div>
  </div>
  {{!-- head/body divider line --}}
  <div class="h-line"></div>

  <div class="dashboard">

    <div class="rockets">
      <div class="rocket-title">
        Rockets
      </div>
      <div class="rocket-options">
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s1_rocket.png" alt="rocket 1" class="current-option">
          </div>
          <div class="r-data">
            <div>Name: {{rocketName}}</div>
            <div>Price: {{rocketPrice}}</div>
            <div>Storage: {{storage}}</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s2_rocket.png" alt="rocket 2">
          </div>
          <div class="r-data">
            <div>Name: {{rocketName}}</div>
            <div>Price: {{rocketPrice}}</div> 
            <div>Storage: {{storage}}</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s3_rocket.png" alt="rocket 3">
          </div>
          <div class="r-data">
            <div>Name: {{rocketName}}</div>
            <div>Price: {{rocketPrice}}</div>
            <div>Storage: {{storage}}</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
        <div class="rocket-details">
          <div class="r-image">
            <img src="/img/rocket/s4_rocket.png" alt="rocket 4">
          </div>
          <div class="r-data">
            <div>Name: {{rocketName}}</div>
            <div>Price: {{rocketPrice}}</div>
            <div>Storage: {{storage}}</div>
            <div class="buy-btn">Buy</div>
          </div>
        </div>
      </div>
    </div>

    <div class="asteroid-div">
      <div class="rocket-title">
        Asteroids
      </div>

      <div class="asteroids">
        <img src="/img/asteroid/asteroid_1.png" alt="asteroid 1" class="current-option">
        <img src="/img/asteroid/asteroid_2.png" alt="asteroid 2">
        <img src="/img/asteroid/asteroid_3.png" alt="asteroid 3">
        <img src="/img/asteroid/asteroid_4.png" alt="asteroid 4">
      </div>

      <div class="inner">

        <div class="inner-dashboard">
          <div class="command-center">
            <div class="cmd-title">Command Center</div>
            <div class="f-box flex">
              <div class="funding">
                <div class="current-funds r-corner">Current Funds: ${{currentFunds}}</div>
                <div class="ores">Current Ore List: <br>
                  {{currentOreList}}
                </div>
              </div>
              <div class="actions r-corner">
                <div class="mine-a r-corner">Mine Asteroid</div>
                <div class="sell-ores r-corner">Sell Ores</div>
                <ul class="dots">
                  <li class="dot1"></li>
                  <li class="dot2"></li>
                  <li class="dot3"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {{!-- to add later if we have time --}}
        {{!-- <div class="stats">
          <div class="stats-center">
            <div class="stats-title">Stats</div>
            <div class="stats-details">
              {{stats-output}}
            </div>
          </div>
        </div> --}}
      </div>

    </div>

  </div>
</div>